# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\e-min\OneDrive UIT\OneDrive - UiT Office 365\Projects\SoftwareRepositories\waves_and_optics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
